*.kdev4
*.lo
*.o
*.trs
*~
.cproject
.deps
.dirstamp
.libs/
.project
DEADJOE
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.*
configure
coverage/
cscope.*
data/check-update.service
data/swupd-update.service
docs/*.html
depcomp
functional-tests.log
fuzzout/
install-sh
kw*
libswupd*
libtool
ltmain.sh
m4/*.m4
missing
regression/*.out
src/*.gcda
src/*.gcno
stamp-h1
swupd
swupd-client*tar.gz
swupd_*
tap-driver.sh
test-driver
test-suite.log
test/*.gcno
test/documentation/manpages/test.log
test/functional/Swupd_Root.pem
test/functional/private.pem
test/functional/*.log
test/functional/*/*/web-dir/*/*.tar
test/functional/*/*/web-dir/*/staged/*.tar
test/functional/*/*/web-dir/*/files/*.tar
test/functional/*/*/web-dir/*/Manifest.MoM.sig
test/functional/*/*/test.log
test/functional/*/*/debug.log
test/functional/*/*/state
test/functional/*/*/lines-output
test/functional/*/*/target-dir/usr/share/clear/bundles/.MoM
test/functional/*/*.log
verifytime
