[Unit]
Description=Automatically Install Software Updates
Documentation=man:swupd_update

[Timer]
OnBootSec=45min
OnUnitActiveSec=45min
AccuracySec=300
RandomizedDelaySec=2700

[Install]
WantedBy=multi-user.target
