[Unit]
Description=Automatically Install Software Updates
Documentation=man:swupd_update

[Timer]
OnBootSec=6h
OnUnitActiveSec=6h
AccuracySec=900
RandomizedDelaySec=7200

[Install]
WantedBy=multi-user.target
